
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

$font_family_os: 'Roboto', Arial, Helvetica, sans-serif;
//$font_family_h: 'Antipasto Pro', 'Open Sans', Arial, Helvetica, sans-serif;

$color_text: #000000;
$color_h: #001d4c;
$color_a: #009eff;
$max-width: 1560px;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
}


@mixin transition($property) {
	-webkit-transition: $property 0.4s ease 0s;
	-moz-transition: $property 0.4s ease 0s;
	-o-transition: $property 0.4s ease 0s;
	transition: $property 0.4s ease 0s;
}
@mixin transition_slow($property) {
	-webkit-transition: $property 0.6s ease 0s;
	-moz-transition: $property 0.6s ease 0s;
	-o-transition: $property 0.6s ease 0s;
	transition: $property 0.6s ease 0s;
}

body {   
    font-family: $font_family_os;
    font-size: 14px;
    line-height: 192%;
    font-weight: 400;
    color: $color_text;
}

body {
-webkit-font-smoothing: subpixel-antialiased !important;
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

.wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	//height: 100%;
	min-height: 100%;
	padding-top: 90px;
    
background: url(images/inner_bg.jpg) center top no-repeat;
//background-size: auto;
}
#index .wrapper {
	padding-top: 0;
}
#products .wrapper {
	background: none;
	display: table;
	height: 100%;
}
#page_404 .wrapper {
	display: table;
	height: 100%;
}
@media screen and (max-width: 1030px) {
	.wrapper {
		padding-top: 60px;
	}	
}

a {
    text-decoration: none;
    color: $color_a;
    //@include transition(color);
}
a:hover {
    text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 900;
	line-height: 125%;
	margin-bottom: 20px;
	color: $color_h;
}

h1, .h1, h2, .h2 {
    font-size: 40px;
    //text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 2px;
}


h3, .h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
h4, .h4 {
    font-size:20px;
}
h5, .h5 {
    font-size: 18px;
}
h6, .h6 {
    font-size: 16px;
}


@media screen and (max-width: 1030px) {
    h1, .h1 {
	font-size: 35px;
	line-height: 120%;
    }
	
    h2, .h2 {
	font-size: 30px;
	line-height: 110%;
    }
    h3, .h3 {
	font-size: 26px;
    }
    h4, .h4 {
	font-size:20px;
    }
    h5, .h5 {
	font-size: 18px;
    }
    h6, .h6 {
	font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
	body {   
	    font-size: 12px;
	    line-height: 180%;
	}
    h1, .h1 {
	font-size: 30px;
	line-height: 120%;
    }
	
    h2, .h2 {
	font-size: 26px;
	line-height: 110%;
    }
    h3, .h3 {
	font-size: 22px;
    }
    h4, .h4 {
	font-size:19px;
    }
    h5, .h5 {
	font-size: 16px;
    }
}
@media screen and (max-width: 590px) {
    h1, .h1 {
	font-size: 25px;
	line-height: 120%;
	letter-spacing: 1px;
	margin-right: -10px;
    }
	
    h2, .h2 {
	font-size: 22px;
	line-height: 110%;
    }
    h3, .h3 {
	font-size: 19px;
    }
    h4, .h4 {
	font-size:16px;
    }
    h5, .h5 {
	font-size: 14px;
    }
}
@media screen and (max-width: 450px) {

}



a.button, span.button {
	padding: 0 20px;
	
        height: 51px;
	min-width: 186px;
	
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	
	text-align: center;
	text-decoration: none;
	
	font-size: 14px;
	line-height: 47px;
        font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	@include transition(all);
	
	&:after {
		content: "";
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-left: 10px;
		vertical-align: -1px;
		background: url(images/arrow_white.png) right center no-repeat;
	}
}
a.button.blue, span.button.blue {
	background: #0d9df6;
	box-shadow: 0 4px 10px rgba(13,157,246,0.45);
	border-bottom: 2px solid #0a5c8e;
	
	&:hover {
		background-color: #0079ff;
	}
	&:active {
		box-shadow: 0 4px 10px rgba(13,157,246,0.65);
	}
}
a.button.orange, span.button.orange {
	background: #ff7b00;
	box-shadow: 0 4px 10px rgba(255,139,0,0.45);
	border-bottom: 2px solid #9f5500;
	
	background: -webkit-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для IE10+ */
	background: linear-gradient(to left, #ff9c00 0%, #ff5b00 100%);
	
	&:hover {
		background-color: #d46702;
		background: -webkit-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для webkit-браузеров */
		background: -moz-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для firefox 3.6+ */
		background: -o-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для Opera 11.10+ */
		background: -ms-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для IE10+ */
		background: linear-gradient(to left, #e68e04 0%, #c44600 100%);
	}
	&:active {
		box-shadow: 0 4px 10px rgba(255,139,0,0.65);
	}
}

.button.to_buy {
	height: 62px;
	line-height: 62px;
	min-width: 255px;
	
	&:before {
		display: inline-block;
		vertical-align: -10px;
		margin-left: -10px;
		margin-right: 10px;
		content: '';
		width:33px;
		height: 33px;
		background: url(images/icon_to_buy.png) no-repeat center;
		
	}
    }


@media screen and (max-width: 800px) {
    a.button, span.button {
        height: 41px;
	line-height: 39px;
	min-width: 100px;
	font-size: 12px;
     }
     .button.to_buy {
	height: 52px;
	line-height: 52px;
	min-width: 210px;
	
	&:before {
		vertical-align: -7px;
		width:25px;
		height: 25px;
		background-size: 95% auto;
		
	}
    }
}
@media screen and (max-width: 450px) {
    .button_block {
	text-align: center;
    }
}

.slick-slider {
	position: relative;
	margin: 0 auto;
	
	.slick-list {
		margin: 0 40px;
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		width: 46px;
		height: 32px;
		z-index: 5;
		outline: none;
		cursor: pointer;
		box-shadow: 0 0 30px rgba(0,0,0,0.14);
		background: #fff;
		@include transition(all);
		
		&:before, &:after {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -5px;
			@include transition(all);
		}
		
		&:before {
			background: url(images/arrow_black.png) no-repeat;
		}
		
		&:after {
			background: url(images/arrow_white.png) no-repeat;
			opacity: 0;
		}
		
		&:hover {
			background-color: #0090e9;
			
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	.slick-prev {
		left: 0px;
		&:before, &:after {
			background-position: left center;
		}
	}
	.slick-next {
		right: 0px;
		
		&:before, &:after {
			background-position: right center;
		}
	}
	
} 
	
.slick-dots {
	li {
		display: inline-block;
		width: 6px;
		height: 6px;
		position: relative;
		border: 4px solid transparent;
		border-radius: 7px;
		background-color: $color_text;
		background-clip: padding-box;
		@include transition(all);
		margin-right: 4px;
		cursor: pointer;
		
		&.slick-active {
			background-color: $color_a;
			border-color: $color_a;
		}
		
		button {
			display: none;
		}
	}
}

.tabs_container {
	position: relative;
}
    
.tab {
	height: 0;
	overflow: hidden;
	opacity: 0;
	@include transition(opacity);
}
.tab.active {
	opacity: 1;
	height: auto;
	overflow: visible;
	padding-top: 0px;
}

.tab_buttons {
	//text-align: center;
	//position: absolute;
	width: 100%;
	//top: 80px;
	left: 0;
	z-index: 5;
	//border-bottom: 1px solid #18b1ee;
	
	.tab_but {
		border-bottom: 2px dotted transparent;
		font-weight: 700;
		//font-size: 22px;
		//line-height: 130%;
		//margin-bottom: -4px;
		display: inline-block;
		//padding: 5px 0;
		margin-right: 20px;
		//text-align:  center;
		//min-width: 85px;
		cursor: pointer;
		color: #0d9df6;
		text-transform: uppercase;
		
		@include transition(border);
		
		&.active {
			border-color: #0d9df6;
		}
	}

}



@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px) {

}


.in {
	padding: 1px 20px;
        margin: 0 auto;
        max-width: $max-width;
        position: relative;
	//z-index: 1;
	
	&:after {
	    @include clear();
	}
}

.main_section .in {
	padding: 0px 20px;
	@include transition_slow(all);
}
.main_section {
	//display: none;
	overflow: hidden;
	//z-index: 1;
	position: relative;
	@include transition_slow(all);
}

.left_block {
		float: left;
		width: 360/1560*100%;
	}

.section_bg {
	background-color: #0b1f42;
	color: #fff;
	//z-index: 3;
	
	.left_block {
		width: 745/1560*100%;
		//margin-right: 30px;
		padding-top: 8px;
		margin-left: -7px;
		margin-bottom: -50px;
		text-align: center;
		max-height: 100%;
		
		img {
			max-width: 111%;
		}
	}
}
@media screen and (max-width: 1600px) {
    .section_bg {
	
	&:after {
		width: (1920-630)/1920*100%;
	}
    }
}
@media screen and (max-width: 1450px) {
    .section_bg {
	
	.left_block {
		margin-left: -20px;
		
		img {
			max-width: 117%;
		}
	}
    }
}
@media screen and (max-width: 1300px) {
    .section_bg {
	
	.left_block {
		margin-left: -50px;
		
		img {
			max-width: 125%;
		}
	}
    }
}
@media screen and (max-width: 1000px) {
    .section_bg {
	.left_block {
		margin-left: -100px;
		
		img {
			max-width: 153%;
		}
	}
    }
}
@media screen and (max-width: 800px) {
    .section_bg {
	.left_block {
		display: none;
	}
	&:after {
		width: 100%;
	}
    }
}

.fancybox-enabled {
    overflow: auto;
}


.more_text_block {
	display: none;
}
