/* start blog styles */

#blog {
    z-index: 1;
    overflow: hidden;
    background: #fff;
    
    .in {
        padding: 55px 20px 87px;
    }
    
    .h1 {
        float: left;
        margin-right: 35px;
    }
    
    .link {
        float: right;
	font-size: 18px;
	margin-top: 10px;
	text-decoration: underline;
	
	&:hover {
	    text-decoration: none;
	}
    }
}

.blog.blog_slider {
    clear: both;
    .slick-list {
	margin: 0 -150px;
    }
    
    .slide {
	width: 374px;
	margin: 20px 110px;
    }
}

#blog_page .blog {
    margin-bottom: 30px;
    .slide {
	
	&:nth-child(2), &:nth-child(8) {
	    width: calc(50% - 20px);
	    color: #fff;
	    
	    > div {
		background: #0c3574 url(images/blog_big.jpg) no-repeat left center/ cover;
	    }
	    
	    h4 {
		font-size: 30px;
		height: 75px;
		margin-bottom: 0;
		line-height: 120%;
		a {
		    color: #fff;
		}
	    }
	    
	    time {
		color: #fff;
	    }
	}
    }
}
.blog {
    margin: -20px -10px 0;
    
    &:after {
	@include clear();
    }
    
    .slide {
        float: left;
        position: relative;
        height: 400px;
	width: calc(25% - 20px); //374px;
	margin: 20px 10px;
        @include transition_slow(all);
        background: #fff;
	color: #999999;
	box-shadow: 0 0 30px rgba(0,0,0,0.14);
	
	
	> div {
	    height: 100%;
	    position: relative;
	    background-color: #FFF;
	    @include transition_slow(all);
	    box-sizing: border-box;
	    padding: 25px;
	    overflow: hidden;
	    
	    p {
		max-width: 325px;
	    }
	}
	time {
	    color: #cee3ff;
	    font-weight: 900;
	    font-size: 10px;
	    display: block;
	    margin-bottom: 25px;
	    
	    b {
		font-size: 45px;
		line-height: 75%;
		display: block;
	    }
	}
	
	h4 {
	    margin-bottom: 20px;
	    height: 54px;
	    overflow: hidden;
	    @include transition_slow(all);
	    a {
		color: #000;
		@include transition_slow(all);
	    }
	}
	p {
	    line-height: 158%;
	    padding-right: 20px;
	    box-sizing: border-box;
	    height: 85px;
	    overflow: hidden;
	}
    }
    
    
    .slick-center {
        //width: 770px;
	color: #fff;
	box-shadow: none;
	
	> div {
	    background: #0c3574 url(images/blog_big.jpg) no-repeat left center/ cover;
	    margin: 0 -198px;
	    box-shadow: 0 0 30px rgba(0,0,0,0.14);
	}
	
	h4 {
	    font-size: 30px;
	    height: 75px;
	    margin-bottom: 0;
	    line-height: 120%;
	    a {
		color: #fff;
	    }
	}
	
	time {
	    color: #fff;
	}
    }
    
    
    

	.slick-arrow {
	    top: -23px;
	}
	.slick-prev {
	    right: 182px;
	    left: auto;
	}
	.slick-next {
	    right: 130px;
	}
	
    
}


@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px){
    .blog.blog_slider {
	.slick-list {
	    margin: 0 -130px;
	}
	
	.slide {
	    margin: 20px 90px;
	}
	
	.slick-center {
	    > div {
		margin: 0 -158px;
	    }
	}
    }
}

@media screen and (max-width: 1150px){
    .blog.blog_slider {
	.slick-list {
	    margin: 0 -100px;
	}
	
	.slide {
	    margin: 20px 60px;
	}
	
	.slick-center {
	    > div {
		margin: 0 -98px;
	    }
	}
    }
}
@media screen and (max-width: 1030px) {
    #blog {
	.link {
	    font-size: 16px;
	    margin-top: 5px;
	}
    }
    .blog.blog_slider {
    	.slick-arrow {
	    top: -13px;
	}
    }
}

@media screen and (max-width: 1000px) {
    #blog {
	.in {
	    padding: 35px 20px 60px;
	}
    }
    .blog.blog_slider {
	margin-top: 0;
	.slick-list {
	    margin: 0 0px 0 -100px;
	}
	
	.slide {
	    margin: 20px 60px;
	    
	    time {
		b {
		    font-size: 40px;
		    line-height: 75%;
		}
	    }
	}
	
	.slick-center {
	    > div {
		margin: 0 -98px;
	    }
	    h4 {
		height: 75px;
		font-size: 26px;
	    }
	}
	.slick-arrow {
	    top: -27px;
	}
    }
    
    #blog_page .blog {
	.slide {
	    width: calc(33% - 20px);
	    &:nth-child(2), &:nth-child(8) {
		width: calc(33% - 20px);
		h4 {
		    height: 54px;
		    font-size: 20px;
		    line-height: 125%;
		    margin-bottom: 20px;
		}
	    }
	}
    }
}
@media screen and (max-width: 800px) {
    .blog.blog_slider {
    
	.slide {
	    h4 {
		    height: 50px;
		}
	    p {
		height: 95px;
	    }
	}
    }
    
    #blog .link {
	font-size: 20px;
	margin-top: 10px;
    }
    #blog_page .blog {
	.slide {
	    width: calc(50% - 20px);
	    &:nth-child(2), &:nth-child(8) {
		width: calc(50% - 20px);
		h4 {
		    height: 50px;
		    font-size: 19px;
		    line-height: 125%;
		    margin-bottom: 20px;
		}
	    }
	    p {
		height: 95px;
	    }
	}
    }
}

@media screen and (max-width: 700px) {
    #blog {
	.in {
	    padding: 35px 20px 30px;
	}
    }
    .blog {
    
	.slide {
	    time {
		b {
		    font-size: 35px;
		    line-height: 85%;
		}
	    }
	}
    }
    .blog.blog_slider {
	margin-top: 0;
	.slick-list {
	    margin: 0 0px 0 0px;
	    padding: 0 0px;
	}
	
	.slide {
	    margin: 20px 15px;

	    time {
		b {
		    font-size: 35px;
		    line-height: 85%;
		}
	    }
	}
	
	.slick-center {
	    > div {
		margin: 0 0px;
	    }
	}
    }
}

@media screen and (max-width: 590px) {
    .blog {
    
	.slide {
	    h4 {
		    height: 60px;
		}
	}
    }
    #blog_page .blog {
	.slide {
	    &:nth-child(2), &:nth-child(8) {
		h4 {
		    font-size: 16px;
		    line-height: 125%;
		    height: 60px;
		}
	    }
	}
    }
}

@media screen and (max-width: 450px) {
    .blog {
	.slide {
	    height: 350px;
	}

	    time {
		b {
		    font-size: 30px;
		    line-height: 95%;
		}
	    }
    }
    
    .blog.blog_slider {
	.slide {
	}
	.slick-center {
	    
	    h4 {
		font-size: 20px;
		height: 50px;
	    }
	}
    }
    
    #blog_page .blog {
	.slide {
	    width: calc(100% - 20px);
	    height: auto;
	    margin-bottom: 10px;
	    margin-top: 10px;
	    h4 {
		height: auto;
	    }
	    time {
		margin-bottom: 10px;
	    }
	    
	    &:nth-child(2), &:nth-child(8) {
		width: calc(100% - 20px);
		
		h4 {
		    height: auto;
		}
		p {
		    height: auto;
		}
	    }
	    p {
		height: auto;
	    }
	}
    }
}

/* end blog styles */