/* start contacts styles */

#contacts_page {
    .wrapper {background: none;}
    .content {
	background-color: #fff;
	
	.in {
	    max-width: 1600px;
	    box-sizing: border-box;
	}
    }
    #accordion {
	margin-right: calc(50% + 60px);
    }
    
    .text.blue {
	margin-right: calc(50% + 60px);
	padding-top: 20px;
	padding-bottom: 1px;
	position: relative;
	margin-bottom: 25px;
	
	&:before {
	    position: absolute;
	    width: 1000%;
	    right: 0;
	    top: 0;
	    content: '';
	    height: 100%;
	    background-color: #f4f7fb;
	}
	
	* {
	    position: relative;
	    z-index: 2;
	}
	
	>div {
	    display: inline-block;
	    //width: 30%;
	    vertical-align: top;
	    margin-right: 4%;
	    margin-bottom: 15px
	}
	
	h6 {
	    padding-left: 25px;
	    text-transform: uppercase;
	    font-weight: 700;
	    margin-bottom: 5px;
	    font-size: 130%;
	}
	
	.cont {
	    padding-left: 25px;
	    margin: 0;
	    font-size: 115%;
	    line-height: 190%;
	    text-align: left;
	    float: none;
	    padding-top: 0;
	    
	    &:before {
		content: '';
		position: absolute;
		top: 5px;
		margin-top: 0px;
		left: 0;
		width: 17px;
		height: 14px;
		background: url(images/icons_cont.png) no-repeat;
	    }
	    
	    &.tel:before {
		background-position: left top;
	    }
	    &.mode:before {
		background-position: left center;
	    }
	    &.letter:before {
		background-position: left bottom;
	    }
	}
	
	
	a {
	    color: $color_text;
	}
    }
    
    .text.blue + .text {
	font-size: 115%;
	margin-bottom: 30px;
	
	h5 {
	    text-transform: uppercase;
	    font-size: 145%;
	    font-weight: 700;
	}
    }
    
}
    
  
.map, #map {
    width: 50%;
    float: right;
    position: relative;
    z-index: 3;
    padding-top: 105px;
    margin-bottom: -1px;
    
    &:before {
	    position: absolute;
	    content: '';
	    width: 100% - 160/960*100%;
	    height: 130%;
	    background: #1d53b0 url(images/map_bg.jpg) no-repeat left top / cover;
	    left: 160/960*100%;
	    top: 0;
	    z-index: 0;
	    
	}
    
    .in {
	width: calc(100% - 60px);
	max-width: 740px;
	z-index: 1;
	margin-bottom: 55px;
	margin-left: 0;
	height: 690px;
	
	&:after {
	    padding-top: 100%;
	}
    }
	
	
    iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border: 0;
	position: absolute;
    }
}

#map div[id*="bx_"]{
            height: 100%;
          }
          .bx-yandex-view-layout{
            height: 100%;
          }
          .bx-yandex-view-map{
            height: 100%;
          }




@media screen and (max-width: 1600px) {
    #contacts_page {
	#accordion, .text.blue {
	    margin-right: calc(40% + 20px);
	}
    }
    
    .map, #map {
	width: 40%;
    }
}

@media screen and (max-width: 1300px)  {
    #contacts_page {
	#accordion, .text.blue {
	    margin-right: calc(45% + 20px);
	}
    }
    
    .map, #map {
	width: 45%;
    }
}
@media screen and (max-width: 999px) {
    #contacts_page {
	
    }
}


@media screen and (max-width: 800px) {
    #contacts_page {
	#accordion, .text.blue {
	    margin-right: 0;
	}
	
	.content {
	    padding-bottom: 50px;
	}
    }
    
    .map, #map {
	width: 100%;
	float: none;
	padding-top: 50px;
	padding-bottom: 1px;
	
	.in {
	    width: calc(100% - 80px);
	    min-height: 150px;
	    margin-left: 20px;
	    
	    &:after {
		padding-top: 50%;
	    }
	}
    }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 450px) {
    .map, #map {
	
	.in {
	    
	    &:after {
		padding-top: 80%;
	    }
	}
    }
}

/* end contacts styles */