/* start content styles */


.bread_crumbs {
    //text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
    font-weight: 900;
    font-size: 11px;
    color: #003fa6;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    
    .in:after {
	display: none;
    }
    
    span, a {
	margin: 0 7px 0 0;
	color: #003fa6;
	vertical-align: middle;
    }
    
    .arr {
	font-size: 19px;
	vertical-align: -2px;
    }
    
    .active {
	text-decoration: underline;
	vertical-align: middle;
    }
}

main {
    position: relative;
    
    
}

.left, .right {
    max-width: 45%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 5px 30px 20px 0;
}
.right {
    float: right;
    clear: right;
    margin: 5px 0 20px 30px;
}
aside.left, aside.right {
    width: 300px;
}
aside.left + div {
    margin-left: 350px;
}
aside.right + div {
    margin-right: 350px;
    
    &.text {
	padding-right: 0;
    }
}

aside {
    h3 {
	font-weight: 500;
	font-size: 20px;
	border-bottom: 1px solid #3584e4;
	padding-bottom: 10px;
	margin-bottom: 30px;
    }
    
    article {
	border-bottom: 1px solid #e9e9eb;
	margin-bottom: 20px;
	
	a {
	    color: $color_text;
	}
	
	h4 {
	    font-size: 115%;
	    line-height: inherit;
	    font-weight: 700;
	    margin-bottom: 10px;
	}
	p{
	    //font-size: 115%;
	    font-weight: 300;
	    margin-top: 10px;
	    line-height: 170%;
	}
	
	time {
	    font-weight: 700;
	    
	    &:before {
		content: '';
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-right: 5px;
		background: url(images/icon_time.png) no-repeat left top;
	    }
	}
    }
    
    .link {
	font-size: 115%;
	font-weight: 500;
	border-bottom: 2px dotted $color_a;
	text-decoration: none;
	padding-bottom: 3px;
	color: $color_text;
	
	&:hover {
	    border-color: transparent;
	}
    }
}
.content {
    .h1_bg {
	position: absolute;
	color: #eef4f6;
	text-transform: uppercase;
	font-size: 100px;
	line-height: 40%;
	z-index: 0;
	font-weight: 900;
    }
    
    h1 {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
    }
    
    .date time {
	display: inline-block;
	position: relative;
	top: -30px;
	padding: 5px 25px 5px 5px;
	margin-bottom: 10px;
	//margin-top: -30px;
	
	background-color: #0b59d5;
	color: #fff;
	font-weight: 500;
	&:before {
		content: '';
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-right: 5px;
		background: url(images/icon_time.png) no-repeat left bottom;
	    }
    }
}


.content_wrap {
    font-size: 110%;
    line-height: 160%;
    overflow: hidden;
    
    &:after {
	@include clear();
    }
    
    .in {
	padding-top: 65px;
	padding-bottom: 55px;
	
	&:after {
	    display: none;
	}
    }
    
    .more_text_link {
	color: $color_a;
	text-decoration: underline;
	font-size: 90%;
	display: inline-block;
	cursor: pointer;
	
	&:hover {
	    text-decoration: none;
	}
    }
    
    .image_block {
	float: right;
	box-sizing: border-box;
	width: 50%;
	//padding: 5%;
	height: 680px;
	color: #fff;
	position: relative;
	text-align: right;
	z-index: 3;
	margin-left: 40px;
	background: #5ea1f3;
	
	background: -webkit-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для IE10+ */
	background: linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%);
	
	img {
	    max-width: 80%;
		width: 100%;
		height: 100%; 
		object-fit: contain;
	}
	
	.h2 {
	    text-transform: uppercase;
	    position: absolute;
	    top: 45%;
	    left: 60px;
	    //font-weight: 400;
	    
	}
    }
}


.main_photo {
    width: calc(50% - 10px);
    position: relative;
    float: left;
    margin-right: 80px;
    margin-bottom: 50px;
    
    
    &:before {
	content: '';
	width: 124%;
	height: 82%;
	position: absolute;
	right: 0;
	top: 7%;
	background: url(images/photo_bg.jpg) no-repeat left center / cover;
    }
    
    >div {
	position: relative;
	z-index: 2;
	width: 90%;
    }
    img {
	width: 100%;
    }
}

.text {
    line-height: 170%;
    font-weight: 300;
    padding-right: 65px;
    
    h4 {
	font-weight: 700;
    }
    
    ul {
	padding-bottom: 15px;
	li {
	    position:  relative;
	    margin-bottom: 5px;
	    padding-left: 30px;
	    
	    &:before {
		content: '';
		//border-radius: 4px;
		top: 4px;
		left: 6px;
		position: absolute;
		width: 13px;
		    height: 15px;
		    background-color: #ff8c00;
		    @include transition(all);
		    margin-right: 15px;
		    margin-bottom: -3px;
		    -moz-transform: skewX(-15deg); /* Для Firefox */
		    -ms-transform: skewX(-15deg); /* Для IE */
		    -webkit-transform: skewX(-15deg); /* Для Safari, Chrome, iOS */
		    -o-transform: skewX(-15deg); /* Для Opera */
		    transform: skewX(-15deg);
	    }
	}
    }
    
    ol {
	list-style-type: none;
	counter-reset: number;
	overflow: auto;
	padding-left: 0;
	position: relative;
	z-index: 1;
	
	li {
	    position: relative;
	    //padding-left: 25px;
	    padding-top: 7px;
	    margin-bottom: 15px;
	    
	    &:before {
		display: inline-block;
		vertical-align: -2px;;
		counter-increment: number;
		content: "0" counter(number);
		//color: #fff;
		font-size: 30px;
		line-height: 100%;
		font-weight: 700;
		z-index: -1;
		margin-right: 15px;
		color: $color_a;
		letter-spacing: 0.5px;
		width: 40px;
	    }
	}
	
	&.highlight {
	    li {
		margin-bottom: 20px;
		padding-left: 70px;
		color: $color_a;
		&:before {
		    color: #fff;
		    position: absolute;
		    top: 0;
		    left: 0;
		    content: counter(number);
		    font-size: inherit;
		    width: 40px;
		    height: 40px;
		    background: #3863d0;
		    border-radius: 20px;
		    text-align:  center;
		    font-weight: normal;
		    //opacity: 0.5;
		    line-height: 40px;
		    
		    background: -webkit-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для webkit-браузеров */
		    background: -moz-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для firefox 3.6+ */
		    background: -o-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для IE10+ */
		    background: linear-gradient(135deg, #26baff 0%, #1269d1 100%);
		}
	    }
	}
    }
    
    table {
	//margin-left: -40px;
	tr {
	    background-color: #f4f7fb;
	    border-bottom: 10px solid #fff;
	}
	
	td {
	    padding: 15px 20px;
	    width: 50%;
	}
    }
    
}

.main_photo + .text {
    padding-top: 30px;
}

.check {
    padding-left: 60px;
    position: relative;
    
    &:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(images/check_big.png) no-repeat left top / 100%;
    }
    
    ul {
	margin-bottom: 20px;
    }
}

#article {
    .wrapper {
	background: none;
    }
    .main_photo {
	width: auto;
	float:  none;
	margin-right: 0;
	margin-bottom: 40px;
	
	&:before {
	    display: none;
	}
    }
    
    .text {
	margin-bottom: 50px;
    }
}

.more_text_link {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0d9df6;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 2px dotted #0d9df6;
    cursor: pointer;
    white-space: nowrap;
    
    &:after {
	content: '';
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(images/arrow_blue2.png) no-repeat left top;
	margin-left: 10px;
	margin-right: -20px;
	vertical-align: -2px;
    }
    
    &:hover {
	border-color: transparent;
    }
    &.trigger {
	&:after {
	    -moz-transform: rotate(180deg); /* Для Firefox */
	    -ms-transform: rotate(180deg); /* Для IE */
	    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
	    -o-transform: rotate(180deg); /* Для Opera */
	    transform: rotate(180deg);
	    //vertical-align: 2px;
	}
    }
}

.prevnext_links {
    margin-bottom: 50px; 
    //text-align:  justify;
    min-height: 32px;
    @include clear();
    .in:after {
	
	//display: block;
	//width: 100%;
    }
    
    
    .prev, .next {
	color: $color_text;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	span {
	    border-bottom: 1px dotted transparent;
	}
	
	.arr {
	    position: relative;
	    border: 0;
		margin-top: -3px;
		width: 46px;
		height: 32px;
		z-index: 5;
		outline: none;
		cursor: pointer;
		box-shadow: 0 0 30px rgba(0,0,0,0.14);
		background: #fff;
		@include transition(all);
		text-indent: -10000px;
		
		&:before, &:after {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -5px;
			@include transition(all);
		}
		
		&:before {
			background: url(images/arrow_blue.png) no-repeat;
		}
		
		&:after {
			background: url(images/arrow_white.png) no-repeat;
			opacity: 0;
		}
	}
	&:hover {
	    color: $color_a;
	    
	    span {
		border-bottom: 1px dotted $color_a;
	    }
	    .arr {
			background-color: #0090e9;
			
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
    }
    .prev {
	margin-right: 15px;
	.arr {
	    float:  left;
	    margin-right: 15px;
		&:before, &:after {
			background-position: left center;
		}
	}
    }
    .next {
	margin-left: 15px;
	.arr {
	    float: right;
	    margin-left: 15px;
		&:before, &:after {
			background-position: right center;
		}
	}
    }
}

.galery {
    margin-bottom: 50px;
    padding-top: 20px;
    width: 100%;
    
    .slick-list {
	margin: 0 -2px;
    }
    
    .slide {
	margin: 2px;
	width: 25%;
	display: inline-block;
	position: relative;
	height: auto;
	height: 185px;
	
	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    
	    /*&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.69;
		background: #3863d0;
		
		background: -webkit-linear-gradient(135deg, #6db9fd 0%, #3863d0 71%, #223261 100%); 
	background: -moz-linear-gradient(135deg, #6db9fd 0%, #3863d0 71%, #223261 100%); 
	background: -o-linear-gradient(135deg, #6db9fd 0%, #3863d0 71%, #223261 100%); 
	background: -ms-linear-gradient(135deg, #6db9fd 0%, #3863d0 71%, #223261 100%); 
	background: linear-gradient(135deg, #6db9fd 0%, #3863d0 71%, #223261 100%);
	@include transition(all);
	    }
	    
	    &:after {
                    display: block;
                    content: "Открыть фото";
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    left: 50%;
                    margin-left: -70px;
                    margin-top: -23px;
                    width: 140px;
                    height: 46px;
                    background:  $color_a;
                    color: #fff;
                    text-align: center;
                    line-height: 46px;
                    font-size: 14px;
                    border-radius: 25px;
                    opacity: 0;
                    @include transition(all);
                }
	    &:hover {
		&:before {
		    opacity: 0;
		    
		}
		&:after {
		    opacity: 1;
		    
		}
	    }*/
	}
	
	img {
	    width: 100%;
	    display: inline;
	    vertical-align: bottom;
	    //width: 100%;
		height: 100%; 
		object-fit: cover;
	}
    }
    
    .slick-arrow {
	background-image: url(images/arr_white.png);
    }
}


#accordion {
    margin-bottom: 25px;
    .h5 {
	padding: 17px 25px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: none;
	border: 1px solid #ededed;
	//margin-top: 10px;
	position: relative;
	cursor: pointer;
	margin: 0 0 -1px;
	@include transition(all);
	
	&:before {
	    content: '';
	    float: right;
	    width: 11px;
	    height: 11px;
	    background: url(images/arrow_black2.png) center no-repeat;
	    @include transition(all);
	}
	
	&.ui-accordion-header-active {
	    background-color: #0d9df6;
	    color: #fff;
	    border-bottom: 0;
	    &:before {
		background: url(images/arrow_white2.png) center no-repeat;
		transform: rotate(-180deg)
	    }
	}
    }
    
    
    .text {
	padding: 0px 25px 3px;
	background-color: #0d9df6;
	border: 1px solid #ededed;
	border-top: 0;
	color: #fff;
	font-size: 118%;
	
    }
}

.fancybox-slide .fancybox_video {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    
    video {
	max-width: 100%;
	max-height: 100%;
    }
}

.pagination {
    margin-bottom: 50px;
    li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	color: #989898;
	width: 21px;
	
	
	a {
	    display: block;
	    width: 21px;
	    height: 21px;
	    line-height: 23px;
	    vertical-align: middle;
	    color: #color_a;
	    //border-radius: 11px;
	    overflow: hidden;
	    text-decoration: none;
	    border: 1px solid transparent;
	    
	    &:hover {
		color: $color_a;
		border: 1px solid $color_a;
	    }
	    
	    &.active {
		background-color: $color_a;
		color: #fff;
		border: 1px solid $color_a;
	    }
	}
	
	&.pag-ar {
	    a {
		text-indent: -1000px;
		background-repeat: no-repeat;
		background-color: transparent;
		background-image: url(images/arr_small.png);
		//outline: 1px solid red;
	    }
	}
	
	&.prev {
	    a {
		background-position: 9px 7px;
		
		&:hover {
		    background-position: 9px -10px;
		}
	    }
	}
	&.next {
	    a {
		background-position: -11px 7px;
		
		&:hover {
		    background-position: -11px -10px;
		}
	    }
	}
    }
}



.block404 {
    background: #0251be url(images/page404_bg.jpg) no-repeat center/ cover;
    display: table-row;
    height: 100%;
    
    .in {
	display: table-cell;
	//text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
    }
    
    .text {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
	padding-right: 0;
    }
    
    .img404 {
	font-size: 300px;
	line-height: 90%;
	font-weight: 900;
	//color: #fff;
	margin-bottom: 40px;
	
	img {
	    max-width: 80%;
	}
    }
    
    p {
	font-size: 40px;
	font-weight: 900;
	line-height: 100%;
	letter-spacing: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
    }
    
    .error {
	font-size: 60px;
	color: #eaedf4;
    }
    
}

@media screen and (max-width: 1600px) {
    .top {
	h1 {
	    font-size: 55px; //60px;
	    line-height: 100%;
	}
    }
    
    .content {
	padding-bottom: 50px;
	.h1_bg {
	    font-size: 95px;
	    line-height: 45%;
	}
    }
    
    .block404 {
	
	.img404 {
	    font-size: 270px;
	    line-height: 90%;
	}
	
	p {
	    font-size: 40px;
	    line-height: 100%;
	}
	
	.error {
	    font-size: 55px;
	}
	
    }
}

@media screen and (max-width: 1300px) /*and (min-width: 1000px)*/ {
    .text {
	padding-right: 0px;
    }
    .content {
	.h1_bg {
	    font-size: 85px;
	    line-height: 55%;
	}
    }
    .block404 {
	.img404 {
	    font-size: 240px;
	    line-height: 90%;
	}
	p {
	    font-size: 35px;
	    line-height: 100%;
	}
	.error {
	    font-size: 50px;
	}
    }
    
    
    aside.left, aside.right {
	width: 250px;
    }
    aside.left + div {
	margin-left: 290px;
    }
    aside.right + div {
	margin-right: 290px;
    }
    
    aside {
	h3 {
	    font-size: 20px;
	}
	
	article {
	    
	    h4 {
		//font-size: 110%;
	    }
	    p{
		//font-size: 110%;
	    }
	}
	
	.link {
	    //font-size: 110%;
	}
    }

}
@media screen and (max-width: 1000px) {

    .content {
	.h1_bg {
	    font-size: 75px;
	    line-height: 65%;
	    top: -5px;
	}
    }
    
    .block404 {
	.img404 {
	    font-size: 210px;
	    line-height: 90%;
	}
	p {
	    font-size: 30px;
	    line-height: 100%;
	}
	.error {
	    font-size: 40px;
	}
    }
    
    aside.left, aside.right {
	width: 200px;
    }
    aside.left + div {
	margin-left: 240px;
    }
    aside.right + div {
	margin-right: 240px;
    }
    
    aside {
	h3 {
	    font-size: 18px;
	}
	
	article {
	    
	    h4 {
		font-size: 100%;
		line-height: 170%;
		margin-bottom: 10px;
	    }
	    p{
		font-size: 100%;
		line-height: 170%;
	    }
	}
	
	.link {
	    font-size: 100%;
	}
    }
}


@media screen and (max-width: 800px) {

    .content {
	.h1_bg {
	    font-size: 65px;
	    line-height: 70%;
	}
    }
    .content_wrap .image_block {
	display: none;
    }
    
    .block404 {
	.img404 {
	    font-size: 180px;
	    line-height: 90%;
	}
	p {
	    font-size: 25px;
	    line-height: 100%;
	    margin-bottom: 20px;
	}
	.error {
	    font-size: 35px;
	    margin-bottom: 20px;
	}
    }
    
    aside.left, aside.right {
	display: none;
    }
    aside.left + div {
	margin-left: 0px;
    }
    aside.right + div {
	margin-right: 0px;
    }
}

@media screen and (max-width: 590px) {
    .content {
	.h1_bg {
	    font-size: 55px;
	    line-height: 80%;
	}
	
	
    }
    
    .main_photo {
	float: none;
	width: auto;
	margin-right: 0;
	
	&:before {
	    width: 100%;
	}
	> div {
	    width: 90%;
	    margin-left: 5%;
	}
    }
    .block404 {
	.img404 {
	    font-size: 150px;
	    line-height: 90%;
	}
	p {
	    font-size: 20px;
	    line-height: 100%;
	}
	.error {
	    font-size: 30px;
	}
    }
}

@media screen and (max-width: 450px) {
    .bread_crumbs {
    margin-bottom: 20px;
    }
    .content {
	.h1_bg {
	    font-size: 45px;
	    line-height: 90%;
	}
	
	h1 {
	    margin-bottom: 20px;
	}
	
	.date time {
	    top:
	    -10px;
	}
    }
    .block404 {
	.img404 {
	    font-size: 100px;
	    line-height: 90%;
	    
	    img {
		max-width: 90%;
	    }
	}
	p {
	    font-size: 18px;
	    line-height: 100%;
	}
	.error {
	    font-size: 25px;
	}
    }
}

/* end content styles */