/* start footer styles */

#pre_foo {
    display: table-row;
    height: 100%;
}

#services_page {
    footer {
        display: table-row;
    }
}



footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    display: block;
    background: #fff;// url(images/site.jpg) center bottom no-repeat;
    background-size: auto;
    box-sizing: border-box;
    color: #002f7d;
    
    &:before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	width: 177px;
	max-height: 320px;
	height: 100%;
        background: #fff url(images/foo_bg.png) no-repeat right bottom / auto 100%;
    }

    
    .in { 
        padding: 50px 20px 15px;
        font-size: 12px;
        line-height: 166%;
	font-weight: 300;
        
        &:after { 
            @include clear();
        }
        
    }
    
    a {
	color: #002f7d;
	@include transition(color);
	&:hover {
            color: #0d9df6;
	    //text-decoration: underline;
        }
    }
    
    .foo_left {
	float: left;
	width: 420/1560*100%;
	//margin-right: 110/1340*100%;
	//border-right: 1px dotted #c4e7fd;
	box-sizing: border-box;
	padding-right: 60px;
	padding-top: 85px;
	clear: left;
	min-height: 230px;
        
        p {
            margin-bottom: 15px;
        }
    }
    #copy {
	padding-top: 0;
	min-height: 2px;
    }
    
    
    .foo_right, #dev {
	float: right;
	width: 185px; //180/1560*100%;
	margin-left: 20px;
	//padding-bottom: 25px;
	text-align: right;
	font-size: 14px;
    }
    
    address {
	p {
	    margin-bottom: 5px;
	    font-style: normal;
	    //padding-left: 25px;
	    background: left 2px no-repeat;
	    margin-bottom: 15px;
	}
	
	.address {
	    font-weight: 700;
	}
	  
    
	.tel {
	    font-size: 14px;
	    margin-bottom: 17px;
	    margin-left: 10px;
	    float: none;
	    
	    &:before {
		background-position: right center;
		left: auto;
		right: 135px;
	    }
	    
	    a {
		color: #002f7d;
		&:hover {
		    color: #0d9df6;
		}
	    }
	}
	.letter a {
	    color: #0d9df6;
	    text-decoration: underline;
	    
	    &:hover {
		text-decoration: none;
	    }
	}
    }
    
    a.button {
        color: $color_a; 
	margin-bottom: 30px;
        margin-left: 20px;
	background: none;
	height: auto;
	line-height: 145%;
	padding: 0;
	box-shadow: 0 0 0 transparent, inset 0 0 0 transparent;
	&:before {
	    content: '';
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 5px;
	    margin-bottom: 4px;
	    width: 23px;
	    height: 19px;
	    background: url(images/icons.png) -28px top no-repeat;
	}
	
	&:hover {
	    background: none;
	    text-decoration: underline;
	}
    }
    
    .foo_menu {
        position: relative;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 8%;
	text-transform: uppercase;
	font-weight: 700;
	//text-align: justify;
        margin-bottom: -50px;
	margin-left: 420/1560*100%;
	margin-right: 372/1560*100%;
	line-height: 100%;
	letter-spacing: 0.7px;
	
	border-right: 1px dotted #c4e7fd;
	border-left: 1px dotted #c4e7fd;
	
	&:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
        a {
            display: inline-block;
	    text-decoration: none;
	    border-bottom: 1px solid transparent;
        }
	
	>ul {
	    display: inline-block;
	    vertical-align: top;
	    padding-top: 2px;
	    border-right: 1px dotted #c4e7fd;
	    min-width: 40.3%;
	    margin-right: 11%;
	    margin-bottom: -16px;
	    padding-bottom: 20px;
	    
	    &:last-child {
		min-width: 40%;
		margin-right: 0;
		border-right: 0;
	    }
	    
	    li {
		margin: 0 0 27px;
		
	    }
	    
	    ul {
		text-transform: none;
		padding-top: 27px;
		font-weight: 300;
		
		a {
		    &:before {
			content: '// ';
			display: none;
		    }
		    
		    &.active, &:hover {
			text-decoration: underline;
			color: #0d9df6;
		    }
		    
		    &.active:before {
			display: inline;
		    }
		}
	    }
	}
	
        
        a.active {
            color: $color_a;;
	    
        }
    }
    
    #copy {
        float: left;
	clear: both;
    }
    
    #dev {
        clear: right;
        margin-top: 10px;
    }
}


@media screen and (max-width: 1600px) {
    footer {
	.foo_left, #foo_logo {
            padding-top: 40px;
        }
        .foo_menu {
	    margin-right: 20%;
	}
    }
}
@media screen and (max-width: 1300px) {
    footer {
        .in {
	    padding: 50px 20px 30px;
	}
        .foo_left, #foo_logo {
	    padding-right: 30px;
        }
        .foo_right, #dev {
            margin-left: 0px;
            padding-bottom: 20px;
        }
	
	.tel, a.button, address p  {
	    margin-bottom: 20px;
	}
	.foo_menu {
	    padding-left: 5%;
	    >ul {
		min-width: 38%;
		margin-right: 5%;
		
	    }
	}
    }
}
@media screen and (max-width: 999px) {
    footer {
	.in {
	    padding: 40px 20px 20px;
	}
        .foo_left, #foo_logo {
            width: 35%;
	    margin-right: 0;
	    padding-top: 0;
	    //min-height: 1px;
        }
        .foo_right, #dev {
	    padding-bottom: 0;
        }
	.foo_menu {
	    margin: 0 30% -35px 35%;
	    li {
                margin-bottom: 20px;
            }
	    
	    >ul {
		display: block;
		width: auto;
		border-right: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		
		&:last-child {
		    margin-bottom: -16px;
		}
		ul {
		    display: none;
		}
	    }
	    
	    &:after {
		display: none;
	    }
	}
	
    }
}
@media screen and (max-width: 800px) {
    footer {
        .in {
	    padding: 30px 20px 20px;
	}
        
    }
}
@media screen and (max-width: 700px) {
    footer {
        
        .foo_left, #foo_logo {
            width: 55%;
	    margin-right: 0;
	    min-height: 1px;
        }
        .foo_right, #dev {
            width: 45%;
	    max-width: 185px;
        }
	.foo_menu {
            display: none;
	}
	#copy, #dev {
	    float: none;
	    clear: none;
	    text-align:  left;
	}
	#dev {
	    margin-top: 20px;
	}
    }
}
@media screen and (max-width: 450px) {
    footer {
        .foo_left p {
	    display: none;
	}
	
	.foo_left, #foo_logo, #copy {
            width: auto;
            float: none;
	    margin-bottom: 20px;
        }
        .foo_right, #dev {
            width: auto;
            float: none;
	    text-align: left;
	    margin-top: 0;
	    margin-left: 0;
        }
	address .tel {
	    margin-left: 0;
	    
	    &:before {
		left: 0;
		right: auto;
	    }
	}
	.tel, a.button, address p  {
	    margin-bottom: 15px;
	}
    }
}

/* end footer styles */