/* start popups styles */

.gUniFormModalWindow {
    background-color: rgba(0, 13, 36, 0.88);
    margin: 0;
    padding: 0;
    
    .gUniFormModalWindowContainer {
	width: 940px;
	//height: 570px;
	padding: 0px;
	border-radius: 0;
	color: #fff;
	background: #1598f3 url(images/m_window_bg.jpg) no-repeat center bottom/ cover;
	
	.gUniFormModalWindowExit {
	    position: absolute;
	    width: 23px;
	    height: 23px;
	    top:15px;
	    right: 15px;
	    cursor: pointer;
	    background-color: transparent;
	    text-indent: -100000px;
	    background: url(images/close.png) no-repeat center top ;
	    @include transition(transform);
	    
	    &:hover {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	    }
	}
	
	.gUniFormContainer {
	    margin-left: 40%;
	    padding: 90px 90px 50px 0;
	    box-sizing: border-box;
	}
	
	.uFormHeading {
	    margin-bottom: 25px; 
	    //color: #000;
	    font-weight: 800;
	    text-align:  left;
	    font-family: $font_family_os;
	    text-transform: uppercase;
	    font-size: 40px;
	}
	
	p {
	    font-size: 19px;
	    line-height: 130%;
	}
	
	input, textarea, select {
	    width: 100%;
	    padding: 5px 20px;
	    margin-bottom: 30px;
	}
	
	.gUniForm input[type="checkbox"] + label {
	    display: inline-block;
	//padding-left: 30px;
	position: relative;
	//margin-left: -15px;
	margin-bottom: 30px;
	//vertical-align: middle;
	border: 1px solid transparent;
	font-weight: 300;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
	padding-left: 0;
	    
	    &:before {
	    content: '';
	    float: left;
	    margin-right: 10px;
	    width: 28px;
	    height: 28px;
	    position: relative;
	    
	    border: 1px solid #fff;
	    border-radius: 25px;
	    
	}
	    
	    &:hover:before {
		opacity: 0.8;
	    }
	}
	.gUniForm input[type="checkbox"]:checked + label {
	    &:before {
		background: url(images/checkbox.png) no-repeat center;
		border-color: rgba(13, 157, 246, 0.6);
	    }
	}
	
	a {
	    color: #fff;
	    text-decoration: underline;
	    
	    &:hover {
		text-decoration: none;
	    }
	}
	
	.uFormSubmit {
	    margin-right: 0;
	    margin-bottom: 30px;
	    padding: 0 10px 0 10px;
	    width: 195px;
	    height: 51px;
	    line-height: 49px;
	    font-size: 14px;
	    font-weight: 400;
	    background-color: #fff;
	    text-decoration: none;
	    color: #fff;
	    cursor: pointer;
	    box-sizing: border-box;
	    @include transition(all);
	    border: 0;
	    top: 0;
	    border-radius: 3px;
	    text-align: center;
	    position: relative;
	    vertical-align: middle;
	    background: #ff7b00;
	box-shadow: 0 4px 10px rgba(255,139,0,0.45);
	border-bottom: 2px solid #9f5500;
	
	background: -webkit-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для IE10+ */
	background: linear-gradient(to left, #ff9c00 0%, #ff5b00 100%);
	
	
	    &:after {
		content: "";
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-left: 10px;
		vertical-align: -1px;
		background: url(images/arrow_white.png) right center no-repeat;
	    }
	}
	.uFormSubmit:hover {
	    background-color: #d46702;
		background: -webkit-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для webkit-браузеров */
		background: -moz-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для firefox 3.6+ */
		background: -o-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для Opera 11.10+ */
		background: -ms-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для IE10+ */
		background: linear-gradient(to left, #e68e04 0%, #c44600 100%);
	}
	.uFormSubmit:active {
	    box-shadow: 0 4px 10px rgba(255,139,0,0.65);
	}
    }
    
    .sended_block {
	h3 {
	    font-size: 65px;
	    line-height: 95%;
	    padding-top: 30px;
	}
	
	p {
	    font-size: 18px;
	    line-height: 160%;
	    max-width: 340px;
	}
    }
    
}

.gUniFormSuccessContainer {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 0;
    color: #fff;
    
    .gUniFormSuccessBg {
	height: 100%;
	background: #5da0f3 url(images/success_bg.jpg) no-repeat center / cover;
    }
    
    .gUniFormSuccessMiddler {
	margin-left: 660/1920*100%;
	text-align:  left;
	position: relative;
	top: 50%;
	margin-top: -270px;
    }
    
    .gUniFormSuccessHeading {
	margin-bottom: 25px; 
	font-weight: 800;
	text-align:  left;
	font-family: $font_family_os;
	text-transform: none;
	font-size: 70px;
	line-height: 90%;
	letter-spacing: 6px;
    }
    
    .gUniFormSuccessText {
	text-align:  left;
	font-size: 20px;
	letter-spacing: 0.5px;
    }
    
    .gUniFormButtonContainter {
	text-align: left;
	padding: 10px 25px;
    }
    
    .gUniFormSuccessButton {
	margin-right: 0;
	    margin-bottom: 30px;
	    padding: 0 10px 0 10px;
	    width: 165px;
	    height: 51px;
	    line-height: 49px;
	    font-size: 14px;
	    font-weight: 400;
	    background-color: #fff;
	    text-decoration: none;
	    color: #fff;
	    cursor: pointer;
	    box-sizing: border-box;
	    @include transition(all);
	    border: 0;
	    top: 0;
	    border-radius: 3px;
	    text-align: center;
	    position: relative;
	    vertical-align: middle;
	    background: #ff7b00;
	box-shadow: 0 4px 10px rgba(255,139,0,0.45);
	border-bottom: 2px solid #9f5500;
	
	background: -webkit-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(right, #ff9c00 0%, #ff5b00 100%); /* для IE10+ */
	background: linear-gradient(to left, #ff9c00 0%, #ff5b00 100%);
	
	
	    &:after {
		content: "";
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-left: 10px;
		vertical-align: -1px;
		background: url(images/arrow_white.png) right center no-repeat;
	    }
	
	&:hover {
	    background-color: #d46702;
		background: -webkit-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для webkit-браузеров */
		background: -moz-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для firefox 3.6+ */
		background: -o-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для Opera 11.10+ */
		background: -ms-linear-gradient(right, #e68e04 0%, #c44600 100%); /* для IE10+ */
		background: linear-gradient(to left, #e68e04 0%, #c44600 100%);
	}
	&:active {
	    box-shadow: 0 4px 10px rgba(255,139,0,0.65);
	}
	
    }
    
    .gUniFormSuccessExit {
	display: none;
    }
}
@media screen and (max-width: 1600px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    width: 860px;
	    //height: 540px;
	    &:after {
		left:45px;
		font-size: 160px;
	    }
	    
	    .gUniFormContainer {
		padding: 70px 50px 30px 0;
	    }
	    
	    .uFormHeading {
		font-size: 38px;
	    }
	    
	    p {
		font-size: 19px;
		line-height: 130%;
	    }
	}
    }
    
    
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 600/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 60px;
	    line-height: 90%;
	}
	
	.gUniFormSuccessText {
	    font-size: 20px;
	}
    }
}

@media screen and (max-width: 1300px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    width: 800px;
	    //height: 540px;
	    &:after {
		left:45px;
		font-size: 140px;
	    }
	    
	    .gUniFormContainer {
		padding: 50px 50px 20px 0;
		margin-left: 45%;
	    }
	    
	    .uFormHeading { 
		font-size: 36px;
	    }
	    
	    p {
		font-size: 18px;
		line-height: 130%;
	    }
	    .uFormHeading, p, input[type="text"], input[type="checkbox"] + label {
		margin-bottom: 20px;
	    }
	}
    }
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 600/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 53px;
	    line-height: 90%;
	    letter-spacing: 5px;
	}
	
	.gUniFormSuccessText {
	    font-size: 19px;
	}
    }
}

@media screen and (max-width: 1000px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    width: 700px;
	    //height: 540px;
	    &:after {
		left:15px;
		font-size: 120px;
	    }
	    
	    .gUniFormContainer {
		padding: 50px 50px 20px 0;
		margin-left: 42%;
	    }
	    
	    .uFormHeading { 
		font-size: 34px;
	    }
	    
	    p {
		font-size: 17px;
		line-height: 130%;
	    }
	}
    }
    
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 500/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 45px;
	    line-height: 90%;
	    letter-spacing: 5px;
	}
	
	.gUniFormSuccessText {
	    font-size: 18px;
	}
    }
}

@media screen and (max-width: 800px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    width: 600px;
	    //height: 540px;
	    &:after {
		left:10px;
		font-size: 100px;
	    }
	    
	    .gUniFormContainer {
		padding: 30px 30px 1px 0;
		margin-left: 40%;
	    }
	    
	    .uFormHeading { 
		font-size: 32px;
	    }
	    
	    p {
		font-size: 17px;
		line-height: 130%;
	    }
    
	    .uFormSubmit {
		height: 39px;
		line-height: 39px;
		width: 200px;
		
		&:before {
		    width: 34px;
		    height: 34px;
		    left: 3px;
		    top: 3px;
		    background-size: 48px;
		    background-position: 8px -64px;
		}
		
		&:hover {
		    &:before {
			background-position: -23px -64px;
		    }
		}
	    }
	}
    }
    
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 400/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 35px;
	    line-height: 110%;
	    letter-spacing: 3px;
	}
	
	.gUniFormSuccessText {
	    font-size: 17px;
	}
    }
}

@media screen and (max-width: 590px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    width: 80%;
	    background: #5ea1f3;
	
	background: -webkit-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%); /* для IE10+ */
	background: linear-gradient(193deg, #6db9fd 0%, #3863d0 71%, #223261 100%);
	    &:after {
		display: none;
	    }
	    
	    .gUniFormContainer {
		padding: 30px 30px 1px 30px;
		margin-left: 0%;
	    }
	    
	    .uFormHeading { 
		font-size: 30px;
	    }
	    
	    p {
		font-size: 16px;
		line-height: 130%;
	    }
	    
	    .gUniForm input[type="checkbox"] + label {
		margin-right: 0;
		display: inline-block;
	    }
	}
    }
    
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 300/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 30px;
	    line-height: 120%;
	    letter-spacing: 2px;
	}
	
	.gUniFormSuccessText {
	    font-size: 16px;
	}
    }
}

@media screen and (max-width: 450px) {
    .gUniFormModalWindow {
	.gUniFormModalWindowContainer {
	    
	    .gUniFormContainer {
		padding: 50px 20px 1px 20px;
	    }
	    
	    .uFormHeading { 
		font-size: 24px;
		line-height: 120%;
		margin-bottom: 10px;
	    }
	}
    }
    
    .gUniFormSuccessContainer {
	.gUniFormSuccessMiddler {
	    margin-left: 200/1920*100%;
	}
	
	.gUniFormSuccessHeading {
	    font-size: 25px;
	    line-height: 120%;
	    letter-spacing: 1px;
	}
	
	.gUniFormSuccessText {
	    font-size: 16px;
	}
    }
}




